.login-admin{
    background-image: url('./assets/images/bg-img-login-admin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;  
    display:flex;
    align-items: center;
    justify-content: center;
    .login-card{     
        width:380px;
        height: 555px;
        background-color: $color-white-3;
        display: block;
        border-radius: 20px;
        color:$color-black-1;
        padding: 20px 40px;
        box-shadow: 2px 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);  
    }
    #standard-name{
        width: 100%;
        color: $color-white-3;
    }
    
}
