.page-numbers {
  display: flex;
  justify-content: space-between;
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-size {
  width: 100px !important;
  height: auto !important;
}
